In [5]:
import pandas as pd

In [25]:
#names = pd.read_csv('person_names.csv',names = ['String','Cleaned_string','Honorific','First_Name','Middle_Name','Last_name','Suffix','Country','Profession'])
names = pd.read_csv('names_gender.csv',encoding = "ISO-8859-1")

/Users/BhavikaJalli/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [30]:
names = names[['string','gender','honorific','first_name','middle_name','last_name','suffix']]
names.head(20)

,string,gender,honorific,first_name,middle_name,last_name,suffix
0,A. Aiyappan,male,NaN,A.,NaN,Aiyappan,NaN
1,A. Amirthalingam,male,NaN,A.,NaN,Amirthalingam,NaN
2,A. Andrews,male,NaN,A.,NaN,Andrews,NaN
3,A. Arulpiragasam,male,NaN,A.,NaN,Arulpiragasam,NaN
4,A. Ayyappan,male,NaN,A.,NaN,Ayyappan,NaN
5,A. B. Brown,male,NaN,A.,NaN,Brown,NaN
6,A. B. Frost,male,NaN,Arthur,NaN,Frost,NaN
7,A. B. Graham,male,NaN,A.,NaN,Graham,NaN
8,A. Bertram Chandler,male,NaN,A.,NaN,Chandler,NaN
9,A. Bhimsingh,male,NaN,A.,NaN,Bhimsingh,NaN
10,A. Buydens,male,NaN,A.,NaN,Buydens,NaN
11,A. C. H. Smith,male,NaN,A.,NaN,Smith,NaN
12,A. Charles,male,NaN,A.,NaN,Charles,NaN
13,A. Clifford Jones,male,NaN,A.,NaN,Jones,NaN
14,A. D. Gordon,male,NaN,Aaron,NaN,Gordon,NaN
15,A. D. Harvey,male,NaN,A.,NaN,Harvey,NaN
16,A. D. Williams,male,NaN,A.,NaN,Williams,NaN
17,A. D. Wilson,male,NaN,A.,NaN,Wilson,NaN
18,A. Dakshinamurthy,male,NaN,A.,NaN,Dakshinamurthy,NaN
19,A. Dash Wilson,male,NaN,A.,NaN,Wilson,NaN

In [33]:
for i in range(len(names)):

'A. Amirthalingam'